@charset "UTF-8";
/**
 * Created by Liujx on 2017-07-30 12:45:19
 */

.mui-bar-nav {
	background-color: #5098e6;
}

/* logo */
.pp-about-logo {
	width: 100%;
	height: 4rem;
	margin-top: 2.25rem;
	padding: 0 1rem;
	background: url(../images/login-logo.png) no-repeat;
	background-size: 100% 100%;
}

.pp-about-versions {
	width: 100%;
	line-height: 22px;
	font-size: 18px;
	color: #999;
	text-align: center;
}
