@charset "UTF-8";
/**
 * Created by Liujx on 2017-07-25 14:51:07
 */

/* 热门品牌and热门机型 */
.pp-hot-title {
	height: 1.75rem;
	line-height: 1.75rem;
	font-size: 0.75rem;
	text-align: center;
}

.pp-hot-title span{
	position: relative;
	text-align: center;
}

.pp-hot-title span:before,
.pp-hot-title span:after {
    content: ' ';
    width: 1.375rem;
    height: 1px;
    position: absolute;
    top: .36rem;
    background: #d6d6d6;
}

.pp-hot-title span:before {
    left: -2rem;
}

.pp-hot-title span:after {
    right: -2rem;
}

.pp-hot-models,
.pp-hot-brand {
	background-color: #fff;
}

.pp-hot-models .pp-hot-title span {
	color: #3788e4;
}

.pp-models-list ul,
.pp-brand-list ul {
	width: 100%;
	padding: 0.9rem 0.5rem;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.pp-models-list ul li,
.pp-brand-list ul li {
	display: block;
	float: left;
	width: 20%;
	text-align: center;
	position: relative;
}
.pp-models-list ul li a,
.pp-brand-list ul li a {
	display: block;
}

.pp-models-list ul li:after {
    content: ' ';
    width: 1px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 0;
    background: #d6d6d6;
}

.pp-models-list ul li:last-child:after {
	content: none;
}

.pp-models-list ul li span,
.pp-brand-list ul li span {
	display: block;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

.pp-models-list ul li span:last-child {
	color: #666;
}

.pp-hot-more a {
	display: block;
	line-height: 1.5rem;
	font-size: 12px;
	color: #333;
	text-align: center;
}

.pp-hot-more a i {
	font-size: 14px;
}

.pp-hot-brand .pp-hot-title span {
	color: #33cc99;
}

.pp-brand-list ul li {
	width: 25%;
	padding: 0.25rem 0;
	border-bottom: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

.pp-brand-list ul li:nth-child(4n) {
	border-right: 0;
}

.pp-brand-list ul li:nth-child(-n+4) {
	padding-top: 0;
}

.pp-brand-list ul li:nth-last-child(-n+4) {
	border-bottom: 0;
	padding-bottom: 0;
}

.pp-brand-list ul li img {
	width: 3.55rem;
	height: 1.05rem;
}

/* 热门品牌and热门机型END */

/* shipments-or-user-tab */
.pp-tab {
	background-color: #fff;
}

.mui-segmented-control {
	border: none;
	border-radius: initial;
}

.mui-segmented-control .mui-control-item {
	line-height: 2rem;
	border-left: none;
	border-bottom: 1px solid #e7e7e7;
	color: #333;
}

.mui-segmented-control .mui-control-item.mui-active {
	color: #3788e4;
	border-bottom: 2px solid #3788e4;
	background-color: transparent;
}
