@charset "UTF-8";
/**
 * Created by Liujx on 2017-07-26 19:41:29
 */
.mui-bar-nav {
	background-color: #5098e6;
}

.pp-bar-search {
	margin: 10px 0;
	color: #999;
	background-color: #fff;
}

/* 搜索关键词  */
.pp-bar-search .keywords {
	display: inline-block;
	height: 24px;
	line-height: 25px;
	padding: 0 6px 0 10px;
	margin: 3px 0;
	background: #f7f7f7;
	border-radius: 20px;
	text-align: center;
}

.pp-bar-search .keywords .del-keywords {
	padding: 0 4px;
}

.pp-bar-search .keywords:first-child {
	margin-left: -11px;
}

/* 选择排序 */
.pp-list-select {
	height: 2rem;
	line-height: 2rem;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	background-color: #fff;
}

.pp-list-select .pp-select-item {
	float: left;
	display: block;
	width: 20%;
	font-size: 14px;
	text-align: center;
	color: #333;
}

.pp-list-select .pp-select-item .pp-select-line {
	display: block;
    width: 1px;
    height: 0.8rem;
    background: #e7e7e7;
    float: left;
    margin-top: 0.6rem;
}

.pp-list-select .pp-select-item .mui-icon {
	font-size: 16px;
}

.pp-list-info {
	background-color: #fff;
}

/* 搜索结果-找到车源 */
.pp-search-success {
	width: 100%;
	line-height: 1.25rem;
	text-align: center;
	background: #f3f3f3;
	font-size: 12px;
	color: #999;
}

/* 搜索结果为空 */
.pp-search-err {
	text-align: center;
	padding-top: 40%;
	font-size: 14px;
}
