@charset "UTF-8";
/**
 * Created by Liujx on 2017-07-30 17:22:52
 */
.mui-bar-nav {
	background-color: #5098e6;
}

.mui-table-view-cell {
	padding: 11px 15px;
}

.pp-offer {
	background: #fff;
}

.pp-offer-cars {
	width: 100%;
    padding: 0.75rem .5rem;
}

/* 重置折叠面板 */
.mui-table-view-cell.mui-active {
	background-color: #fff;
}

.mui-table-view-cell > a:not(.mui-btn).mui-active {
	background-color: #fff;
}

.mui-table-view-cell > a:not(.mui-btn) {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.mui-table-view-cell.mui-collapse .mui-collapse-content {
	padding: 0;
}

.mui-table-view-cell.mui-collapse > .mui-navigate-right:after,
.mui-table-view-cell.mui-collapse > .mui-push-right:after {
	content: '展开';
}

.mui-table-view-cell.mui-collapse.mui-active > .mui-navigate-right:after,
.mui-table-view-cell.mui-collapse.mui-active > .mui-push-right:after {
	content: '收起';
}

.mui-navigate-right:after,
.mui-push-left:after, .mui-push-right:after {
	width: 3rem;
	height: 1.15rem;
	line-height: 1.25rem;
	border: 1px solid #3788e4;
	text-align: center;
	color: #3788e4;
	font-size: 12px;
}

.mui-table-view-cell.mui-collapse.mui-active {
     margin-top: 0; 
}

/* 出价人 */
.pp-offer-item {
	border-bottom: 1px solid #e7e7e7;
}

.pp-offer-item .pp-offer-name {
	line-height: 2.625rem;
	margin: 0 .5rem;
	border-bottom: 1px solid #e7e7e7;
}

.pp-offer-name .pp-offer-portrait {
	float: left;
	width: 1.625rem;
	height: 1.625rem;
	margin: 0.5rem 0;
	border-radius: 50%;
}

.pp-offer-name .pp-offer-portrait img {
	width: 100%;
	height: 100%;
}

.pp-offer-name .pp-offer-copyname {
	float: left;
	padding-left: 10px;
	font-size: 14px;
}

.pp-offer-name .pp-offer-time {
	float: right;
	color: #999;
}

.pp-offer-item .pp-offer-info {
	padding: .5rem;
}

.pp-offer-item .pp-offer-info .pp-offer-result {
	float: left;
}

.pp-offer-item .pp-offer-info .pp-offer-result span {
	display: block;
	line-height: 1.125rem;
	font-size: 14px;
}

.pp-offer-item .pp-offer-info .pp-offer-tel {
	float: right;
}

.pp-offer-item .pp-offer-info .pp-offer-tel .dial {
	display: block;
	width: 4.25rem;
	height: 2.9rem;
	margin: .25rem 0;
	background: #4F97E5;
	color: #fff;
	border-radius: 8px;
	text-align: center;
	font-size: 14px;
}

.pp-offer-item .pp-offer-info .pp-offer-tel i {
	display: block;
	font-size: 24px;
	padding-top: .3rem;
}
