@charset "UTF-8";
/**
 * Created by Liujx on 2017-07-29 21:00:18
 */
.mui-bar-nav {
	background-color: #5098e6;
}

/* 选项卡 */
.pp-shop-tab {
	background: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.pp-shop-tab .mui-control-item.mui-active:before {
	content: none;
}

.pp-shop-tab .mui-control-item.mui-active:after {
	width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #5098e6;
    position: absolute;
    left: 0;
    bottom: 0px;
    margin-left: -2px;
}

/* shop-list */
.pp-shop-content {
	background: #fff;  
}

.pp-shop-content .pp-shop-item {
	width: 100%;
    padding: .75rem .5rem;
    border-bottom: 1px solid #e7e7e7;
}

.pp-shop-content .pp-shop-item:last-child {
	border-bottom: none;
}

.pp-shop-content .pp-shop-item .pp-shop-operation {
	padding: 1rem 0 .5rem;
	border-bottom: 1px solid #e7e7e7;
}

.pp-shop-item .pp-shop-operation .pp-operation-item {
	display: block;
	float: left;
	width: 2.475rem;
	line-height: 1.15rem;
	border: 1px solid #e7e7e7;
	text-align: center;
	font-size: 12px;
	color: #333;
	margin-right: 0.55rem;
}

.pp-shop-item .pp-shop-operation .pp-operation-item:last-child {
	margin-right: 0;
}

.pp-shop-item .pp-shop-tag {
	padding-top: .5rem;
}

.pp-shop-item .pp-shop-tag span {
	display: block;
	float: left;
	width: 3rem;
	line-height: 1.15rem;
	text-align: center;
	font-size: 12px;
	background: #3998ED;
	color: #fff;
	margin-right: 0.875rem;
}

.pp-shop-item .pp-shop-tag span:last-child {
	margin-right: 0;
}


/* 数据为空 */
.pp-shop-null {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
}

.pp-shop-null .pp-shop-null-img {
	width: 12.5rem;
	height: 9.7rem;
	margin: 0 auto;
}

.pp-shop-null .pp-shop-null-img img {
	width: 100%;
	height: 100%;
}

.pp-shop-null .pp-shop-null-desc {
	line-height: 30px;
	padding: .5rem 0;
	text-align: center;
	font-size: 14px;
	color: #999;
}

.pp-shop-null .pp-shop-null-btn {
	width: 7rem;
	margin: 0 auto;
}

.pp-shop-null .pp-shop-null-btn .mui-btn {
	line-height: 1.75rem;
	font-size: 16px;
}
