<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
	<meta http-equiv="x-rim-auto-match" content="none">
	<meta name="applicable-device" content="mobile">
	<meta name="keywords" content="">
	<meta name="description" content="">
    <title>联盟职位</title>
    <link rel="shortcut icon" href="favicon.ico">
    <script type="text/javascript" src="common/script/reset.js"></script>
    <link rel="stylesheet" href="common/style/mui.css"/>
    <link rel="stylesheet" href="common/style/base.css" />
    <style>
        .mui-bar-nav {
            background-color: #5098e6;
        }
        .pp-canvas-list {
            background: #fff;
        }
        .pp-canvas-list li a {
            font-size: 14px;
        }
    </style>
</head>
<body>
	<!-- header -->
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">联盟职位</h1>
	</header>
	
    <div class="mui-content">
    	<div class="pp-canvas-list">
            <li><a href="#" class="active">会员</a></li>
            <li><a href="#">理事</a></li>
            <li><a href="#">秘书长</a></li>
            <li><a href="#">副会长</a></li>
            <li><a href="#">会长</a></li>
        </div>
    </div>
	
	<script src="common/script/jquery-2.2.4.min.js"></script>
    <script src="common/script/mui.js"></script>
</body>
</html>