<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
	<meta http-equiv="x-rim-auto-match" content="none">
	<meta name="applicable-device" content="mobile">
	<meta name="keywords" content="">
	<meta name="description" content="">
    <title>搜索</title>
    <link rel="shortcut icon" href="favicon.ico">
    <script type="text/javascript" src="common/script/reset.js"></script>
    <link rel="stylesheet" href="common/style/mui.css"/>
    <link rel="stylesheet" href="common/style/base.css" />
    <link rel="stylesheet" href="css/search.css" />
</head>
<body>
	<!-- header -->
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">搜索</h1>
	</header>
	
    <div class="mui-content">
    	<div class="pp-search">
    		<i class="iconfont icon-sousuo"></i>
    		<input type="text" placeholder="请输入品牌或产品型号" />
    		<a href="javascritp:;">取消</a>
    	</div>
    	<div class="pp-hot-keywords">
    		<div class="pp-hot-title">
    			<i class="iconfont icon-hot"></i>
    			<span>热搜</span>
    		</div>
    		<div class="pp-hot-item mui-clearfix">
    			<li><a href="#">卡特彼勒</a></li>
    			<li><a href="#">沃尔沃</a></li>
    			<li><a href="#">日立</a></li>
    			<li><a href="#">三一重工</a></li>
    			<li><a href="#">斗山</a></li>
    			<li><a href="#">三一重工</a></li>
    			<li><a href="#">日立</a></li>
    			<li><a href="#">沃尔沃</a></li>
    		</div>
    	</div>

    </div>
	
	<script src="common/script/jquery-2.2.4.min.js"></script>
    <script src="common/script/mui.js"></script>
</body>
</html>