<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
	<meta http-equiv="x-rim-auto-match" content="none">
	<meta name="applicable-device" content="mobile">
	<meta name="keywords" content="">
	<meta name="description" content="">
    <title>关于我们</title>
    <link rel="shortcut icon" href="favicon.ico">
    <script type="text/javascript" src="common/script/reset.js"></script>
    <link rel="stylesheet" href="common/style/mui.css"/>
    <link rel="stylesheet" href="common/style/base.css" />
    <link rel="stylesheet" href="css/introduce.css">
</head>
<body>
	<!-- header -->
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">关于我们</h1>
	</header>
	
    <div class="mui-content">
    	<div class="pp-introduce-iswho">
            <div class="pp-iswho-title">PP二手机是谁？</div>
            <div class="pp-iswho-text">
                <p>PP二手机是中国二手挖掘机联盟官方指定线上免费二手机交易平台（会员自由交易，pp二手机不收取任何交易费用），专为全国最大的二手机行业民间组织中国二手挖掘机联盟会员服务，使用者均为中国二手挖掘机联盟各省份实名认证会员，让会员通过pp二手机平台实现更加高效、放心的交易！</p>
                <p>这是国内第一个，也是唯一一个只服务于二手机专业从业者的互联网平台，没有行业新人，也没有主要身份仍然是机主或机手等群体。</p>
            </div>
        </div>
        <div class="pp-introduce-item">
            <div class="pp-introduce-logo logo-1"></div>
            <div class="pp-introduce-box">
                <div class="pp-introducebox-title">你缺的不是资源，是相对靠谱的资源 </div>
                <div class="pp-introducebox-img"><img src="images/introducebox-img-1.png" alt=""></div>
                <div class="pp-introducebox-text">
                    <p>你缺的不是资源，是相对靠谱的资源；刚入行的都在疯狂加好友，二手机精英都在删好友！</p>
                    <p>PP二手机的第一批用户，全是联盟各省会员，进入PP二手机，你就相当于拥有了二手机行业含金量最高的朋友圈。</p>
                </div>
            </div>
        </div>
        <div class="pp-introduce-item">
            <div class="pp-introduce-logo logo-2"></div>
            <div class="pp-introduce-box">
                <div class="pp-introducebox-title">让会员没有发不掉的货 </div>
                <div class="pp-introducebox-img"><img src="images/introducebox-img-2.png" alt=""></div>
                <div class="pp-introducebox-text">
                    <p>我们将机源精准分为“发货机源”和“用户机源”作为全国最大的二手机行业民间组织的发起方，两年时间，我们深刻的发现：每个人能力都是有局限的，每个区域的需求都是不一样的，山东不要的货，内蒙可能是抢手货；张三打死都发不掉的货，李四可能分分钟就发掉了。“分享”产生“共赢”，PP二手机发货专区的目标就是，让会员没有发不掉的货（有价值的货源）！</p>
                </div>
            </div>
        </div>
        <div class="pp-introduce-item">
            <div class="pp-introduce-logo logo-3"></div>
            <div class="pp-introduce-box">
                <div class="pp-introducebox-title">自家货源，全国兄弟帮你卖！ </div>
                <div class="pp-introducebox-img"><img src="images/introducebox-img-3.png" alt=""></div>
                <div class="pp-introducebox-text">
                    <p>车商需要更快变现自有货源，中介需要变现自己的终端买家资源。有了PP二手机“用户专区”，中介再也不用担心自己手里有靠谱用户却没有“靠谱好操作”的货源了，车商也再也不用担心销售渠道少！</p>
                    <p>而且在PP二手机，除了自己的货，其他兄弟的货你也可以帮忙卖，相当于扩大了自己的设备库存量噢！</p>
                </div>
            </div>
        </div>
        <div class="pp-introduce-item">
            <div class="pp-introduce-logo logo-4"></div>
            <div class="pp-introduce-box">
                <div class="pp-introducebox-title">怕被掏地沟？不给他看行不行！ </div>
                <div class="pp-introducebox-img"><img src="images/introducebox-img-4.png" alt=""></div>
                <div class="pp-introducebox-text">
                    <p>很多会员反应，现在很多发货的机子都不敢发朋友圈，因为当地同行“太厉害”，一看到照片就知道机子在哪里，“独家货源”很快变成“鸡肋货源”了。在PP二手机，我们送你两个“杀手锏”：</p>
                    <p class="colorpp">NO.1：设备不直接显示所在地，只显示“距离”</p>
                    <p class="colorpp">NO.2：上传机源时，可以选择“不给谁看”。</p>
                    <p>“太厉害”的同行，我惹不起我躲得起，行不？</p>
                </div>
            </div>
        </div>
        <div class="pp-introduce-item">
            <div class="pp-introduce-logo logo-5"></div>
            <div class="pp-introduce-box">
                <div class="pp-introducebox-title">让你10秒找到合适货源 </div>
                <div class="pp-introducebox-img"><img src="images/introducebox-img-5.png" alt=""></div>
                <div class="pp-introducebox-text">
                    <p>无论是按品牌型号年限搜索，还是按照距离、按照地区、价格、小时数多少、浏览量搜索，在PP二手机都可以轻松实现，从此，大家可以对微信的极为不便的搜索功能说NO了，PP二手机已经完美解决。</p>
                </div>
            </div>
        </div>
        <div class="pp-introduce-item">
            <div class="pp-introduce-logo logo-6"></div>
            <div class="pp-introduce-box">
                <div class="pp-introducebox-title">库存管理更便捷 </div>
                <div class="pp-introducebox-img"><img src="images/introducebox-img-6.png" alt=""></div>
                <div class="pp-introducebox-text">
                    <p>我发的货有多少人浏览？</p>
                    <p>多少人分享？</p>
                    <p>多少人出价？</p>
                    <p>机子发多了我记不住这个机子到底是谁的一手信息、价格和机况？（机源备注功能）有了PP二手机库存管理系统，就方便了！</p>
                </div>
            </div>
        </div>
        <div class="pp-introduce-item">
            <div class="pp-introduce-logo logo-7"></div>
            <div class="pp-introduce-box">
                <div class="pp-introducebox-title">让勤奋者有更多赚钱机会 </div>
                <div class="pp-introducebox-img"><img src="images/introducebox-img-7.png" alt=""></div>
                <div class="pp-introducebox-text">
                    <p>想让你发布的二手机更多的让其他会员看到，增加销售机会？OK！每台设备都有“刷新”机会，只要刷新，昨天发的设备，今天又可以按照最新设备展示了。我们的目标是——<i class="colorpp">让勤奋者有更多赚钱机会！</i></p>
                </div>
            </div>
        </div>
        <div class="pp-introduce-item">
            <div class="pp-introduce-logo logo-8"></div>
            <div class="pp-introduce-box">
                <div class="pp-introducebox-title">理事就是不一样，机源能置顶 </div>
                <div class="pp-introducebox-img"><img src="images/introducebox-img-8.png" alt=""></div>
                <div class="pp-introducebox-text">
                    <p>联盟的理事，承担的责任更大，为中国二手挖掘机联盟的发展付出更多，所以，在PP二手机1.0版本中，就为理事们考虑了更好的增值服务——置顶特权！置顶权限，暂时只针对理事开放。不过其他会员也不用着急，后续可能会逐步开放噢~</p>
                </div>
            </div>
        </div>
        <div class="pp-introduce-item">
            <div class="pp-introduce-logo logo-9"></div>
            <div class="pp-introduce-box">
                <div class="pp-introducebox-title">不靠谱？小心被投诉 </div>
                <div class="pp-introducebox-img"><img src="images/introducebox-img-9.png" alt=""></div>
                <div class="pp-introducebox-text">
                    <p>PP二手机服务的都是二手机精英从业者，打造PP二手机的目的，就是要让我们的优质会员成长的更快。当然，如果你不靠谱？小心被投诉。最初级的惩罚就是你可能无法享受会员服务，如果情节特别严重，你可能在行业都无法立足噢~</p>
                </div>
            </div>
        </div>
        <div class="pp-introduce-item">
            <div class="pp-introduce-logo logo-10"></div>
            <div class="pp-introduce-box">
                <div class="pp-introducebox-title">更多会员福利及好用功能 </div>
                <div class="pp-introducebox-text padding-top-none">
                    <p>还有众多会员福利以及非常实用好玩的功能，今后会逐步开放噢~</p>
                </div>
            </div>
        </div>
        <div class="pp-introduce-tip">想成为会员，用PP二手机将生意做的更好？</div>
    </div>
    <div class="pp-introduce-button"><a href="javascript:;" class="mui-btn">加入会员</a></div>
	
	<script src="common/script/jquery-2.2.4.min.js"></script>
    <script src="common/script/mui.js"></script>
</body>
</html>