<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
	<meta http-equiv="x-rim-auto-match" content="none">
	<meta name="applicable-device" content="mobile">
	<meta name="keywords" content="">
	<meta name="description" content="">
    <title>登录</title>
    <link rel="shortcut icon" href="favicon.ico">
    <script type="text/javascript" src="common/script/reset.js"></script>
    <link rel="stylesheet" href="common/style/mui.css"/>
    <link rel="stylesheet" href="common/style/base.css" />
    <link rel="stylesheet" href="css/login.css" />
</head>
<body>
	<!-- header -->
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">登录</h1>
	</header>
	
    <div class="mui-content">
    	<div class="pp-login-logo"></div>
    	<div class="pp-login-input">
    		<div class="pp-input-box">
    			<i class="iconfont icon-shouji"></i>
    			<input type="number" placeholder="请输入手机号" />
    		</div>
    		<div class="pp-input-box">
    			<i class="iconfont icon-tuxingyanzhengma"></i>
    			<input type="number" placeholder="请输入图形验证码" />
    			<img class="pp-img-code" src="http://m.nongjigou.com/include/kcaptcha/" alt="" />
    		</div>
    		<div class="pp-input-box">
    			<i class="iconfont icon-mima"></i>
    			<input type="number" class="pp-last-input" placeholder="请输入手机验证码" />
    			<a href="javascript:;" class="pp-get-code">获取验证码</a>
    		</div>
    	</div>
        <div class="pp-login-bottom">
            登录视为同意<a href="service.html">《PP二手机服务条款》</a>
        </div>
    	<div class="pp-login-btn">
			<button type="button" class="mui-btn">登录</button>
		</div>
		<div class="pp-login-about">
            <a href="#" class="about">关于我们</a>
            <a href="#" class="join">加入联盟</a>
        </div>
    </div>
	
	<script src="common/script/jquery-2.2.4.min.js"></script>
    <script src="common/script/mui.js"></script>
</body>
</html>