@charset "UTF-8";
/**
 * Created by Liujx on 2017-07-25 11:21:07
 */


/* iconfont */
@import url("//at.alicdn.com/t/font_pdajq11f3hw1m7vi.css");

/* reset */
p,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
	word-break: break-all;
	word-wrap: break-word;
}

body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.2;
	max-width: 750px;
	margin: 0 auto;
	color: #333;
	background-color: #f3f3f3;
	-webkit-overflow-scrolling: touch;
}

img {
	border: none;
	vertical-align: top;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input,
button,
textarea,
select {
	font: 100% Tahoma, Helvetica, Arial, sans-serif;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999; opacity:1;
}

input:-ms-input-placeholder{
    color: #999; opacity:1;
}

input::-webkit-input-placeholder{
    color: #999; opacity:1;
}

textarea:-ms-input-placeholder{
    color: #999; opacity:1;
}

textarea::-webkit-input-placeholder{
    color: #999; opacity:1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

i {
	font-style: normal;
}

em {
	font-style: normal;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	outline: none;
}

a,
area {
	blr: expression(this.onFocus=this.blur())
}


/* for IE */

:focus {
	outline: none;
}


/* for Firefox */

input[type="button"],
input[type="submit"],
input[type="reset"] {
	-webkit-appearance: none;
}

.clear{
	overflow:hidden;
	zoom:1;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.pp-content {
	width: 100%;
	padding: 0 0.5rem;
}

.margin-bottom-20 {
	margin-bottom: 0.5rem;
}

.border-bottom-1 {
	border-bottom: 1px solid #e7e7e7;
}

.colorpp {
	color: #3788e4;
}

.color999 {
	color: #999 !important;
}

.background-color-pp {
	background-color: #5098e6;
}

/* 重置-header-icon */
.mui-bar-nav .mui-action-back {
	font-size: 30px;
	padding-top: 7px;
}

/* header-search */
.pp-bar-search {
	display: block;
	padding-left: 15px;
	position: relative;
	z-index: 1;
	-webkit-box-align: center;
	height: 30px;
	line-height: 31px;
	margin: 7px 0;
	background: rgba(255, 255, 255, .6);
	color: #333;
	border-radius: 14px;
	font-size: 14px;
}

/* 选项卡 */
.mui-segmented-control {
	border: none;
	background-color: #fafafa;
	border-radius: inherit;
	overflow: inherit;
}

.mui-segmented-control .mui-control-item {
	height: 2rem;
	color: #333;
	border-left: none;
	overflow: inherit;
}

.mui-segmented-control .mui-control-item.mui-active {
	color: #5098e6;
	background-color: inherit;
	position: relative;
}

.mui-segmented-control .mui-control-item.mui-active:after  {
	display: block;
    content: '';
    border-width: 8px 8px 8px 8px;
    border-style: solid;
    border-color: transparent transparent #e7e7e7;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -8px;
}

.mui-segmented-control .mui-control-item.mui-active:before {
	display: block;
    content: '';
    border-width: 7px 7px 7px 7px;
    border-style: solid;
    border-color: transparent transparent #fff;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -1px;
    margin-left: -7px;
}

/* 底部发布车源 */
/* 发布弹层 */
.pp-publish-mark {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 68%;
	background: rgba(0,0,0,0);
	z-index: 1;
}

.pp-publish {
	display: block;
	width: 100%;
	height: 8.725rem;
	background-color: rgba(0, 0, 0, .7);
	position: fixed;
	bottom: 0;
	z-index: 99;
}

.pp-publish:before {
	display: block;
	content: '';
	width: 100%;
	height: 2rem;
	background-color: rgba(0, 0, 0, .7);
	border-radius: 50% 50% 0 0;
	position: absolute;
	top: -2rem;
}

.pp-publish-info .cars-sell,
.pp-publish-info .use-buy {
	float: left;
	width: 50%;
	height: 4.31rem;
	text-align: center;
	font-size: 14px;
	color: #fff;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pp-publish-info .cars-sell img,
.pp-publish-info .use-buy img {
	display: block;
	width: 3rem;
	height: 3rem;
	margin: 0 auto;
}

.pp-publish-info .cars-sell span,
.pp-publish-info .use-buy span {
	line-height: 40px;
}

.pp-publish-close {
	width: 100%;
	line-height: 1.61rem;
	text-align: center;
}

.pp-publish-close a {
	float: none;
	display: block;
	margin: 1.5rem auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pp-publish-close a i {
	margin-left: -5px;
	font-size: 20px;
	color: #fff;
}

/* reset mui */
.mui-bar-tab {
	background-color: #fff;
	border-top: 1px solid #d9d9d9;
}

.mui-bar-nav {
	box-shadow: none;
	-webkit-box-shadow: none;
	background: auto;
}

.mui-title {
	color: #fff;
}

.mui-bar-nav .mui-icon {
	color: #fff;
}

.mui-bar .mui-icon:active {
    opacity: 1;
}

/* 车源列表 */
.pp-cars-list {
	width: 100%;
	padding: 0.75rem 0;
	border-bottom: 1px solid #e7e7e7;
}

.pp-cars-list:last-child {
	border-bottom: none;
}

.pp-cars-list .pp-cars-item {
	display: block;
}

.pp-cars-item .pp-cars-img {
	float: left;
	width: 6.25rem;
	height: 4.8rem;
	position: relative;
}

.pp-cars-item .pp-cars-img img {
	width: 100%;
	height: 100%;
}

.pp-cars-item .pp-cars-info {
	float: left;
	width: 11.4rem;
	height: 4.8rem;
	padding-left: 0.75rem;
	position: relative;
}

.pp-cars-item .pp-cars-info .pp-cars-title {
	line-height: 0.95rem;
	font-size: 16px;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pp-cars-item .pp-cars-info .pp-cars-tag {
	line-height: 0.8rem;
	padding-top: 0.5rem;
	font-size: 12px;
	color: #666;
}

.pp-cars-tag .pp-cars-line {
	line-height: 0.8rem;
	color: #e7e7e7;
	padding: 0 3px;
}

.pp-cars-tag span i {
	font-size: 12px;
}

.pp-cars-item .pp-cars-info .pp-cars-bottom {
	width: 10.4rem;
	position: absolute;
	bottom: -2px;
	line-height: 0.95rem;
}

.pp-cars-bottom .pp-cars-price {
	float: left;
	font-size: 16px;
	color: #f07e31;
}

.pp-cars-bottom .pp-cars-time {
	float: right;
	display: inline-block;
	font-size: 12px;
	color: #999;
}

/* 侧滑删除 */
.mui-table-view-cell {
	padding: 0;
}

.mui-slider-handle {
	width: 100%;
    padding: 0.75rem .5rem;
    border-bottom: 1px solid #e7e7e7;
}

.pp-collect-del {
	font-size: 16px;
	background-color: #ED4D3D;
}

/* 重置-mui-popur */
.mui-popup-button.mui-popup-button-bold {
	font-weight: 400;	
}

.pp-refresh-popur {
	display: block;
	padding: 0.75rem 0 .3rem;
}

/* 重置侧滑 */
.mui-off-canvas-left,
.mui-off-canvas-right {
	width: 90%;
	background: #fff; 
}

.pp-canvas-bottom {
	border: none;
	height: 2.2rem;
	line-height: 2.2rem;
}

.pp-canvas-bottom a {
	float: left;
	display: block;
	width: 50%;
	text-align: center;
}

.pp-canvas-bottom .pp-canvas-close {
	background-color: #eee;
	color: #333;
}

.pp-canvas-bottom .pp-canvas-confirm {
	background-color: #4F97E5;
	color: #fff;
}

.pp-canvas-content {
	background-color: #fff;
}

.pp-canvas-content .mui-scroll-wrapper {
	padding-top: 44px;
    padding-bottom: 2.2rem;
}

/* 侧滑-列表 */
.pp-canvas-list li a {
	display: block;
	line-height: 2.2rem;
	padding: 0 .5rem 0 .75rem;
	font-size: 12px;
	color: #333;
	border-bottom: 1px solid #e7e7e7;
}

.pp-canvas-list li a.active {
	color: #4F97E5;
	position: relative;
}

.pp-canvas-list li a.active:after {
	content: '\e472';
    font-family: Muiicons;
    font-size: 30px;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #4F97E5;
    -webkit-font-smoothing: antialiased;
}

/* 侧滑-折叠面板 */
.pp-canvas-content .mui-table-view-cell {
	line-height: 40px;
	font-size: 12px;
}

.pp-canvas-content .mui-table-view-cell > a:not(.mui-btn) {
	margin: 0;
	padding: 0 .5rem 0 .75rem;
}

.pp-canvas-content .mui-table-view-cell > a:not(.mui-btn).mui-active {
	background-color: #fff;
}

.pp-canvas-content .mui-table-view-cell.mui-active {
	background-color: #fff;
}

.pp-canvas-content .mui-table-view-cell:after {
	left: 0;
}

.pp-canvas-content .mui-table-view-cell.mui-collapse.mui-active {
	margin-top: 0;
}

.pp-canvas-content .mui-table-view-cell.mui-collapse .mui-collapse-content {
	padding: 0 .5rem 0 .75rem;
	background-color: #f6f6f6;
	margin: 0;
}

/* 省份选择 */
.pp-canvas-block {
	font-size: 12px;
	color: #333;
}

.pp-canvas-block .pp-cancas-block-tip {
	line-height: 1.5rem;
	color: #999;
	padding: 0 1rem;
	background-color: #f3f3f3;
}

.pp-canvas-block-item {
	padding: 1rem;
}

.pp-canvas-block-item a {
	float: left;
	display: block;
	width: 4.25rem;
	line-height: 1.75rem;
	margin-right: 1rem;
	margin-bottom: .75rem;
	text-align: center;
	background-color: #f3f3f3;
	color: #333;
}

.pp-canvas-block .pp-canvas-block-item a.active {
	background-color: #4F97E5;
	color: #fff;
}

.pp-canvas-block .pp-canvas-block-item a:nth-child(3n) {
	margin-right: 0;
}

/* 热门品牌 */
.pp-canvas-hotbrand a {
	float: left;
	display: block;
	width: 33.33%;
    padding: 0.25rem 0;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    font-size: 12px;
    color: #333;
    text-align: center;
}

.pp-canvas-hotbrand a span {
	display: block;
}

.pp-canvas-hotbrand a img {
	width: 3.5rem;
	height: 1.25rem;
}

.pp-canvas-hotbrand a:nth-last-child(-n+3) {
    border-bottom: 0;
    padding-bottom: 0;
}

.pp-canvas-hotbrand a:nth-child(3n) {
    border-right: 0;
}

/* reset-indexedlist */
.mui-indexed-list {
	border-top: none;
	border-bottom: none;
	background-color: #fff;
}

.mui-indexed-list-bar {
	padding: 1rem 0;
	background-color: transparent;
}

.mui-indexed-list-bar a {
	color: #333;
}

.mui-indexed-list-inner .pp-canvas-list li a.active:after {
	right: 24px;
}

/* 侧滑END */